
            	<h3>Edit <%=@movie.title%></h3>

<%=form_for @movie do |f| %>
	<%= f.text_field :title %>
	<%= f.text_field :trailer_url%>
	<%= f.text_area :description%>
	<%= f.text_field :genres%>
	<%= f.text_field :directed_by%>
	<%= f.text_field :produced_by%>
	<%= f.text_area :starring%>
	<%= f.text_field :imdb_code%>
	<%=f.file_field :poster%>
	<%= f.submit %>
<%end%>

